*,
*::before,
*::after {
   padding: 0;
   margin: 0;
   box-sizing: border-box;
}

body {
   display: flex;
   align-items: center;
   justify-content: center;
   height: 100vh;
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.board {
   display: grid;
   grid-template-columns: repeat(3, 100px);
   border:  10px outset grey;
}

.cell {
   width: 100px;
   height: 100px;
   /* background: lightcyan; */
   border: 1px solid black;
   position: relative;
}

.cell.x:hover, 
.cell.circle:hover{
   cursor: not-allowed;
}
.cell:hover:not(.circle):not(.x) {
   background: rgba(0, 0, 0, 0.05);
   cursor: pointer;
}

/* FOR THE X */
.cell.x::before {
   content: '';
   height: 90%;
   width: 15%;
   background: #000;
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%) rotate(45deg);
}
.cell.x::after {
   content: '';
   height: 90%;
   width: 15%;
   background: #000;
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%) rotate(-45deg);
}

/* FOR THE CIRCLE */

.cell.circle::before {
   content: '';
   height: 85%;
   width: 85%;
   background: #fff;
   position: absolute;
   top: 50%;
   left: 50%;
   border: 12px solid #000;
   border-radius: 50%;
   transform: translate(-50%, -50%)
}

.new-game {
   position: fixed;
   z-index: 2;
   top: 0;
   left: 0;
   right: 0;
   bottom: 0;
   background: rgba(0, 0, 0, 0.9);
   display: none;
   /* display: flex; */
   flex-direction: column;
   justify-content: center;
   align-items: center;
}

.new-game .restart {
   padding: 5px 10px;
   border-radius: 10px;
   border: 2px solid black;
   cursor: pointer;
   background: linear-gradient(to bottom, #f7f7f7, #333);
   font-size: 2rem;
   margin-top: 1rem;
}

.new-game .restart:focus {
   outline: none;
}

.new-game .restart:active {
   transform: translateY(1px);
   opacity: 0.8;
}

.new-game.show {
   display: flex;
}